[Desktop Entry]
Name=Shadowsocks GUI
GenericName=Shadowsocks GUI
Comment=Shadowsocks GUI client
Exec=shadowsocks-gui
Icon=shadowsocks-gui
Terminal=false
Type=Application
Categories=Network;
StartupNotify=true
